.custom-title-row-table {
	border-bottom: 3px #eef2f4 solid;
	background-color: #fff;
	vertical-align: middle;
}

.column-plan {
	width: 30px;
	background: #eaf2d5;
	text-align: center;
	border-bottom: 1px #eef2f4 solid;
	border-radius: 2px;
	box-shadow: inset 0px 0px 4px 0px rgba(105, 79, 79, .3);
}

.column-plan-label {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.column-plan-label > input {
	display: none;
}

.column-plan-label > input + span {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
}

.column-plan-label > input:checked + span {
	background: url('https://img.icons8.com/metro/26/000000/approval.png') no-repeat;
	background-size: 20px 20px;
	background-position: center;
}

.task-type-selector {
		text-align: center;
		border-bottom: 1px solid rgb(238, 242, 244);
		width: 7%;
		background: #fff;
}

.special-selector-body {
	display: inline-block;
	position: relative;
	user-select: none;
	outline: none;
}

.special-selector-elem {
	width: 120px;
	text-transform: uppercase;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	padding: 5px 10px;
	background: #fff;
	vertical-align: middle;
	border: 1px solid #eee;
	border-radius: 2px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.special-selector-elem:before {
	content: '';
	display: inline-block;
	width: 30px;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0px;
	right: 0px;
}

.special-selector-elem:after {
	content: '';
	background: url(https://img.icons8.com/metro/26/000000/expand-arrow.png) no-repeat;
	background-size: contain;
	width: 10px;
	height: 10px;
	display: inline-block;
	transition: .5s;
	position: absolute;
	top: 33%;
	right: 10px;
}

.special-selector-body.active .special-selector-elem:after {
	transform: rotateZ(180deg);
}

.special-selector-elem > img {
	width: 15px;
	margin-right: 5px;
	vertical-align: middle;
}

.special-selector-list {
	min-width: 200px;
	background: #fff;
	text-align: left;
	display: none;
	padding: 8px 0;
	overflow: hidden;
	box-shadow: 0 7px 21px rgba(83,92,105,.12), 0 -1px 6px 0 rgba(83,92,105,.06);
	z-index: 1;
	position: absolute;
	z-index: 9999;
	top: 30px;
	left: 0px;
}

.special-selector-body.active .special-selector-list {
	display: block;
}

.special-selector-list > span {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	box-sizing: border-box;
}

.special-selector-list > span:hover {
	background: #f6f8f9;
}

.special-selector-list > span:active {
	background: lightblue;
}

.special-selector-list > span > img {
	width: 15px;
	margin-right: 10px;
	vertical-align: middle;
}

.main-grid:not(.main-grid-ondrag) .main-grid-row:hover>.task-type-selector {
	background-color: #f6f8f9;
}

.main-grid-row-checked .main-grid-cell, .main-grid-row-checked .task-type-selector {
	background-color: #f5fcde;
}

.main-grid:not(.main-grid-ondrag) .main-grid-row-checked:hover>.task-type-selector {
	background-color: #faffeb;
}

/* Для страницы задачи */
.selection-line {
	border-top: 1px solid #e9eaec;
	font: 300 15px/24px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #525c69;
	padding-top: 10px;
	margin-top: 10px;
}

.selection-line input {
	vertical-align: middle;
}

.selection-line .special-selector-body {
	margin-left: 10px;
}

.flags-red,
.flags-pink,
.flags-red-p,
.flags-pink-p {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	width: 20px;
	height: 15px;
	position: relative;
	clip-path: polygon(100% 0%, 70% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
}

.flags-red,
.flags-red-p {
	background: red;
}

.flags-pink,
.flags-pink-p {
	background: pink;
}

.flags-red-p,
.flags-pink-p {
	background-image: linear-gradient(to bottom left,hsla(0,0%,100%,.5) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.5) 0,hsla(0,0%,100%,.5) 75%,transparent 0,transparent);
	background-size: 16px 16px;
}

.task-detail-subtitle-status {
	display: inline-block;
}

#list-tasks {
	position: fixed;
	z-index: 0;
	opacity: 0;
}

.prohibited .main-grid-cell,
.prohibited .task-type-selector {
	background-color: lightcoral !important;
}

.prohibited .main-grid-cell span,
.prohibited .main-grid-cell a {
	color: #fff;
}